header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  height: 80px;
  width: 100%;
  /* border: solid; */
  border-bottom: 1px solid black;
}

h2{
  font-size: 24px; 
}

.logo{
  display: flex;
  border: solid;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
  border: solid red;
}

.logo span{
  color: MediumAquamarine;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

nav{
  border: solid blue;
}

header nav{
  display: inline-block;
  /* padding: 20px 10px; */
  /* border: solid; */
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}



.content{
  display: flex;
  font-family: georgia;
  font-size: 17px;
  color: black;

}

.column{
  display: flex;
  /* border: solid red; */
  flex-direction: column;

  /*height: 50px; */
  /*width: 50px; */
}

/*  See the content containers     */
.large{
  border: solid blue;
}

.medium{
  border: solid yellow;
}

.small{
  border: solid green;
}
/* End of content borders */

.column.large{
  width: 630px;
  /* height: 50px; */
  /* border: solid blue; */
}


.column.medium{
  width: 300px;


}

.column.small{
  width: 240px;

}




.story-image{
  border: solid ;
  background-image: url('../images/img-story-main.png');
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
}

.image-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}

.earth-image{
  /*border: solid red; */
  background-image: url('../images/img-story-2.png');
  /*font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px; */
}

.research-image{
  /*border: solid red;
  border: solid ;*/
  background-image: url('../images/img-story-3.png');
  /*font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;*/
}

.cat-image{
  border: solid red;
  border: solid ;
  background-image: url('../images/img-story-1.png');
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}

.text-content{
  /*border: solid;*/
  height: 250px
}
.stories{
  display: flex;
  justify-content: space-between;
}
.story{
  display: flex;
  flex-direction: column;
  width: 300px;

}

.narrative{
  margin-top: 17px:
}
